header{
  font-family:Tahoma, "Microsoft Yahei", 微软雅黑, 宋体, 黑体, Arial, Helvetica, STHeiti;
  width:100%;
  position: fixed;
  top:0;
  z-index:990;
  background-color:rgba(23, 163, 184, 0.932);
}
#header1{
  width:1200px;
  height:60px;
  line-height:60px;
  margin:0 auto;
}
a{
  display:inline-block;
  text-decoration:none;
  color:#fff;
}
#header1 a:hover{
  color:#f54747;
}
#header1>div{
  height:60px;
  float:left;
  line-height:60px;
}
#header1>div::after{
  content: "";
  display:block;
  clear: both;
} 
.logo>a{
  display:inline-block;
  height:60px;
  line-height:60px;
}
.logo>a>img{
  align-items: center;
  height:40px;
}
.city-title{
  color:#fff;
}
.city{
  margin-left:40px;
  width:150px;
}
.city>div{
  float:left;
}
.size{
  font-size:14px;
  display: block;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  margin-top:20px;
}
.city>div.city-select{
  margin-left:10px;
  position: relative;
}
.city>div.city-select>a>i{
  /* position:absolute; */
  display: inline-block;
  background-image: url("/images/index/icon.png");
  background-position: -73px -901px;
  width: 12px;
  height: 15px;
}
.city-select>.cityList{
  position: absolute;
  left: 0;
  top: 41px;
  border:5px solid rgba(215, 66, 91, 0.932);
  background: #fff;
  padding: 10px;
  width: 390px;
  overflow: hidden;
  background-image: url(/images/index/music.jpeg);
  background-position: -133px -720px;
}
.cityList>a{
  display: inline-block;
  width: 60px;
  height:30px;
  font-size: 13px;
  color:rgba(23, 163, 184, 0.932);
  font-weight:bold;
  text-decoration: none;
  padding:0;
  margin:0;
  outline: 0;
  line-height:30px;
}
/*.city-select>.cityList{
  display:none;
  position:absolute;
  top:45px;
  width:412px;
  height:0px;
  background-image: url(/images/index/music.jpeg);
  background-position: -133px -720px;
  transition:10s;
}
.city-select:hover>.cityList{
  display:block;
  height:120px;
  width:412px;
  border:1px solid red;
}
.city-select>.cityList>ul>li>a{
   color:rgba(23, 163, 184, 0.932);
}
.city-select:hover>.cityList>ul>li>a{
  color:#e72f2f;
}*/
#header1>.list{
  width:420;
  margin-left:20px;
}
ul{
  list-style:none;
  display:flex;
}
.list>ul>li>a{
  margin-left:10px;
  margin-right:10px;
  width:80px;
  text-align:center;
  font-size:.8em;
  text-decoration:none;
}
.list>ul>li:first-child>a{
  margin:0;
}
#header1>div.user{
  float:right;
}
.user>ul>li{
  margin-left:10px;
}
.user>ul>li>input{
  padding-left:10px;
  outline:none;
  width:180px;
  height:30px;
  border:0;
  border-radius:20px;
  font-size:12px;
}
/* 登陆框 */
.login{
  position: fixed;;
  width: 497px;
  height:auto;
  z-index:999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display:block;
  background: #F8F8F8;
  padding:15px;
  /* display:none; */
}
.loginBox{
  width:456px;
  height:auto;
  padding:30px 60px;
  margin:0;
}
.close{
  display:inline-block;
  width:15px;
  height:20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  /* z-index: 8040; */
  background: url("/images/index/close.png") no-repeat;
}
.loginTitle{
  width:332px;
  height:36px;
  font-size: 22px;
  text-align: center;
  color: #666;
  margin-bottom: 10px;
}
.tableForm{
  width:332px;
  height:auto;
}
.tableForm>table{
  width:100%;
}
.tableForm>table>tbody>tr>td{
  padding:10px 0;
}
.inputStyle{
  height:40px;
  width:100%;
  outline:0;
  border:0;
  padding-left:40px;
  background:url("/images/index/icon.png") 10px -593px no-repeat;
  border:1px solid #00f;
  border-radius:3px;
  border:1px solid rgba(23, 163, 184, 0.932);
}
.labelError{
  color:#e72f2f;
  font-size:14px;
  margin-top:5px;
  display:none;
}
#upwd.inputStyle{
  background-position:10px -633px;
}
.rememberLabel{
  vertical-align: middle;
  float:right;
  color:#999;
  margin:0;
}
.loginBtn{
  width: 100%;
  font-weight: bold;
  padding: 0;
  vertical-align:middele;
  text-align:center;
  border-radius:3px;
  cursor: pointer;
  outline:0;
  height:40px;
  background:#e72f2f;
  color:#fff;
}
.forget a{
  text-decoration:none;
  color:rgba(23, 163, 184, 0.932);
  outline:0;
}
.forget a:hover{
  color:#e72f2f;
}
.otherLogin{
  text-align:center;
  margin-top:10px;
}
.otherLogin>a{
  display: inline-block;
  width: 47px;
  height: 47px;
  background: url("/images/index/icon.png") no-repeat;
  margin: 0 10px;
}
.qq{
  background-position: -95px -694px !important;
}
.sina{
  background-position: -48px -695px !important;
}
.wechat{
  background-position: -1px -695px !important;
}
.douban{
  background-position: -142px -695px !important;
}