.regisNewbg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 929px;
  background-image: url("../image/index/regisbg.jpg");
}
.auto-width {
  width: 1200px;
  margin: 0 auto;
  padding-top:120px;
}
.registRed {
  position: relative;
  height: 60px;
  line-height: 60px;
  background: #e74f4f;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.registRed span {
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 60px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #e74f4f;
}
.regisContent{
  background: #fff;
  height: 500px;
}
.regisForm {
  margin: 0 auto;
  padding: 85px 0 0 50px;
  width: 490px;
}
.regisForm td {
  padding-bottom: 16px;
  display: table-cell;
  vertical-align: inherit;
}
.iptMain{
  position: relative;
  min-width: 307px;
}
.regisForm td.textR{
  padding-right: 5px;
  text-align: right;
}
.iptText {
  border: 1px #ddd solid;
  border-radius: 3px;
  height: 35px;
  padding: 0 15px;
  background: #fff;
  width: 275px;
  vertical-align: middle;
}
.regisTextbox{
  border: 1px #ddd solid;
  border-radius: 3px;
  height: 35px;
  width: 305px;
}
.code-img img {
  float: right;
  margin: 3px 3px 0 0;
  width: 90px;
  height: 30px;
  cursor: pointer;
}
input{
  outline:0;
}
.defaultBtn {
  display: inline-block;
  vertical-align: middle;
  color: #e72f2f;
  border: 1px #e72f2f solid;
  background: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.codeLink {
  margin: 3px 3px 0 0;
  padding: 0 5px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  float: right;
}
.submitBtn, a.submitBtn:hover {
  color: #fff;
  background: #e72f2f;
}
.defaultBtn1{
  width:307px;
  display: inline-block;
  vertical-align: middle;
  border: 1px #e72f2f solid;
  background: #e72f2f;
  height: 37px;
  line-height: 37px;
  padding: 0 25px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}